.add-comment {
  border: none;
  margin: 18px 9rem 7px 10rem;
  position: relative;
  textarea {
    outline: none;
    border: none;
    resize: none;
    width: 100%;
    border-bottom: 1px solid $normalColor;
    font-family: $font;
    color: $normalColor;
    font-size: $normalSize;
    background-color: transparent;
  }
}
