@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Indie+Flower&family=Montserrat:wght@400;500;700&family=Roboto&family=Shadows+Into+Light&display=swap');
$font: 'Montserrat', sans-serif;
$normalColor: #c8c7cc;
$normalSize: 18px;
$breakpoint-phone: 480px;
$fira: 'Fira Code', sans-serif;
$robotoFont: 'Roboto', sans-serif;
$shadowLength: 1px 1px 6px;
$primaryButtonColor: rgba(9, 18, 255, 0.53);
$primaryCardColor: #0e1127;
