@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

$font: 'Montserrat', sans-serif;
$normalColor: #898787;
$normalSize: 18px;
$breakpoint-phone: 480px;
