@import './variables';
@import './questionsAndAnswers/analytics';
@import './questionsAndAnswers/question';
@import './questionsAndAnswers/answer';
@import './button';
@import './comment';
@import './addComment';
@import './registerform';
@import './navbar';
@import './askQuestion';
@import './home';
@import './mobileResponsive/mobile';
@import './userProfileMenu';
@import './userProfile';
@import './subjectSiteMap';
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #080a17;
  overflow-x: hidden;
  line-height: 30px;
}

h1 {
  font-size: 20px;
  color: $normalColor;
  font-family: $font;
}
h2 {
  font-size: 18px;
  color: $normalColor;
  font-family: $font;
}
h3 {
  font-size: 17px;
  color: $normalColor;
  font-family: $font;
}
h4 {
  font-size: 16px;
  color: $normalColor;
  font-family: $font;
}
h5 {
  font-size: 15px;
  color: $normalColor;
  font-family: $font;
}
h6 {
  font-size: 14px;
  color: $normalColor;
  font-family: $font;
}
a {
  img {
    width: 11rem;
    height: 1.4rem;
  }
}
p {
  font-family: $robotoFont;
  color: $normalColor;
  font-size: $normalSize;
}
ul {
  li {
    margin-left: 30px;
    font-size: 16px;
    color: $normalColor;
    font-family: $font;
  }
}
blockquote {
  margin-left: 10px;
  border-left: 10px solid $primaryButtonColor;
  width: 20rem;
  padding-left: 3px;
  font-family: 'Shadows Into Light', cursive;
  margin-top: 5px;
  margin-left: 4rem;
  margin-bottom: 10px;
  background-color: $primaryCardColor;
  p {
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
  }
}

img {
  width: 18rem;
  height: 18rem;
}
.question-content {
  img {
    width: 98%;
    height: 5rem;
    object-fit: cover;
    margin-right: 35px;
  }
  h1 {
    font-size: $normalSize;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid white;
  color: white;
  font-family: $robotoFont;
  font-size: $normalSize;
}
th {
  text-align: center !important;
}
td {
  text-align: center !important;
}
.markdown-container {
  width: 50rem;
  margin-left: 2rem;
}
.subject-content-container {
  display: flex;
}
