@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat:wght@400;500;700&display=swap");
.analytics {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.analytics p {
  font-family: "Montserrat", sans-serif;
  color: #898787;
}

.question-container {
  background-color: white;
  margin-left: 10rem;
  margin-right: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.question-container div {
  width: 90%;
}

.question-container div .postedPerson {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.question-container div .postedPerson img {
  margin-top: 4px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.question-container div .postedPerson p {
  font-family: "Montserrat", sans-serif;
  color: #898787;
  font-size: 18px;
}

.question-container div .question {
  font-family: "Montserrat", sans-serif;
  color: #898787;
  font-size: 18px;
}

.question-container div .question p div h1 {
  color: rgba(9, 18, 255, 0.53);
  font-size: 1.6rem;
}

.question-container div .question p div img {
  width: 100%;
  height: 17rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.question-container div .question p div strong {
  color: #ddb1ff;
}

.question-container div .question p div em {
  color: #ced0ff;
}

.answer-container {
  background-color: white;
  margin-left: 10rem;
  margin-right: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.answer-container div {
  width: 90%;
}

.answer-container div .postedPerson {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.answer-container div .postedPerson img {
  margin-top: 4px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.answer-container div .postedPerson p {
  font-family: "Montserrat", sans-serif;
  color: #898787;
  font-size: 18px;
}

.answer-container div .answer {
  font-family: "Montserrat", sans-serif;
  color: #898787;
  font-size: 18px;
}

.btn {
  background-color: #ddb1ff;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  color: #898787;
  font-size: 18px;
  cursor: pointer;
}

.comment-btn {
  width: 5rem;
  height: 2.3rem;
  position: absolute;
  top: 100%;
  left: 100%;
  padding-top: 4px;
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
  font-size: 1.7rem;
  background-color: transparent;
  color: #b8ffff;
}

.user-btn {
  width: 8rem;
  height: 1.6rem;
}

.ask-question {
  background-color: rgba(9, 18, 255, 0.53);
  -webkit-box-shadow: 6px 6px 20px rgba(9, 18, 255, 0.53);
          box-shadow: 6px 6px 20px rgba(9, 18, 255, 0.53);
  width: 8rem;
  color: white;
  height: 1.9rem;
}

.question-form-submit {
  width: 18rem;
  height: 2.5rem;
  margin-left: 13rem;
  margin-top: 8rem;
  font-family: "Fira Code", sans-serif;
  color: #535252;
  letter-spacing: 1px;
  -webkit-box-shadow: 6px 6px 20px #ddb1ff;
          box-shadow: 6px 6px 20px #ddb1ff;
}

.markdown-menu-btn {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  width: 5rem;
  margin-left: 5px;
  border-radius: 0;
  font-family: "Fira Code", sans-serif;
  background-color: white;
  border-left: 1px solid #898787;
  border-right: 1px solid #898787;
  border-top: 1px solid #898787;
  position: relative;
}

.markdown-menu-btn::after {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: white;
  top: 24px;
  left: 0;
}

.markdown-menu-btn.active {
  background-color: rgba(0, 0, 0, 0.09);
  color: #898787;
}

.markdown-menu-btn.active::after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: transparent;
  top: 24px;
  left: 0;
}

.comment {
  margin: 18px 9rem 7px 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 4px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.01px solid rgba(0, 0, 0, 0.093);
}

.comment p {
  font-family: "Montserrat", sans-serif;
  color: #898787;
  font-size: 18px;
}

.add-comment {
  border: none;
  margin: 18px 9rem 7px 10rem;
  position: relative;
}

.add-comment textarea {
  outline: none;
  border: none;
  resize: none;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-family: "Montserrat", sans-serif;
  color: #898787;
  font-size: 18px;
}

.register-form {
  width: 20rem;
  height: 28rem;
  padding-left: 3rem;
  padding-top: 1rem;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 20px;
  -webkit-box-shadow: 6px 6px 20px #ced0ff;
          box-shadow: 6px 6px 20px #ced0ff;
}

.register-form h2 {
  font-family: "Montserrat", sans-serif;
  color: #898787;
  margin-bottom: 16px;
}

.register-form .input-error-show {
  color: #f84f4f;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  margin-top: -4px;
}

.register-form .form-input-container label {
  font-family: "Montserrat", sans-serif;
  color: #898787;
  font-size: 18px;
  display: block;
}

.register-form .form-input-container input {
  margin-top: 0px;
  margin-bottom: 5px;
  height: 1.9rem;
  width: 13rem;
  padding-left: 7px;
  font-family: "Montserrat", sans-serif;
  color: #898787;
  font-size: 18px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #ced0ff;
  outline: none;
}

.register-form .form-input-container .submit-btn {
  background-color: #ced0ff;
  border: none;
  width: 10rem;
  margin: 25px 0 0 25px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  color: #898787;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-box-shadow: 6px 6px 20px #ced0ff;
          box-shadow: 6px 6px 20px #ced0ff;
}

.login-form {
  height: 18rem;
}

.navbar {
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar img {
  margin-left: 1px;
  height: 2rem;
  width: 2rem;
}

.question-link-wrapper {
  width: 60vw;
  height: 85vh;
  position: absolute;
  padding-left: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-left: 1px solid rgba(0, 0, 0, 0.09);
  border-right: 1px solid rgba(0, 0, 0, 0.09);
}

.question-link-wrapper .question-link-container .posted-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.question-link-wrapper .question-link-container .posted-user img {
  margin-top: 4px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 4px;
}

.question-link-wrapper .question-link-container .posted-user p {
  font-family: "Montserrat", sans-serif;
  color: #898787;
  font-size: 18px;
}

.question-link-wrapper .question-link-container .question-details {
  overflow-y: hidden;
  height: 7rem;
  position: relative;
}

.question-link-wrapper .question-link-container .question-details a {
  text-decoration: none;
}

.question-link-wrapper .question-link-container .question-details a .question-name {
  font-family: "Montserrat", sans-serif;
  color: rgba(9, 18, 255, 0.53);
  margin-left: 29px;
}

.question-link-wrapper .question-link-container .question-details .question-content {
  font-family: "Montserrat", sans-serif;
  color: #898787;
  font-size: 15px;
  margin-left: 29px;
}

.question-link-wrapper .question-link-container .question-details .tags {
  margin-top: 10px;
  position: absolute;
  bottom: 8px;
}

.question-link-wrapper .question-link-container .question-details .tags button {
  font-family: "Montserrat", sans-serif;
  color: #898787;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 7px;
  background-color: #b8ffff;
  border: none;
  padding: 4px 10px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 6px 6px 20px #ced0ff;
          box-shadow: 6px 6px 20px #ced0ff;
}

.question-link-wrapper .question-link-container .bottom-line {
  margin-top: 14px;
  margin-left: 18px;
  width: 90%;
  height: 0.5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.question-form-container {
  width: 50rem;
  height: 28rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 6px 6px 20px #ced0ff;
          box-shadow: 6px 6px 20px #ced0ff;
  padding: 20px 10px 0 40px;
}

.question-form-container label {
  font-family: "Montserrat", sans-serif;
  color: #898787;
  font-size: 18px;
}

.question-form-container input {
  display: block;
  width: 100%;
  height: 1.9rem;
  font-family: "Fira Code", sans-serif;
  color: #535252;
  font-size: 18px;
  outline: none;
  padding-left: 8px;
}

.question-form-container .markdown-wrapper {
  height: 14rem;
  padding-top: 5px;
}

.question-form-container .markdown-wrapper .markdown-menu {
  border-bottom: 1px solid #898787;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.question-form-container .markdown-wrapper .markdown-editor {
  outline: none;
  display: block;
  resize: none;
  width: 100%;
  height: 12rem;
  font-family: "Fira Code", sans-serif;
  color: #535252;
  font-size: 18px;
  padding-left: 8px;
  padding-top: 8px;
  border: 0;
  border-left: 1px solid #898787;
  border-bottom: 1px solid #898787;
  border-right: 1px solid #898787;
}

.question-form-container .markdown-wrapper .html-markdown-view {
  display: none;
  width: 100%;
  height: 12rem;
  font-family: "Fira Code", sans-serif;
  color: #535252;
  font-size: 18px;
  padding: 8px 8px 0 8px;
  border: 0;
  border-left: 1px solid #898787;
  border-bottom: 1px solid #898787;
  border-right: 1px solid #898787;
  overflow: scroll;
}

.question-form-container .markdown-wrapper .html-markdown-view img {
  width: 29rem;
  height: 17rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 4rem;
}

.answer-form {
  position: relative;
  top: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.answer-form .markdown-wrapper .markdown-editor {
  height: 18rem;
}

.answer-form .markdown-wrapper .html-markdown-view {
  height: 18rem;
}

@media screen and (max-width: 480px) {
  body {
    padding: 0 10px;
  }
  .analytics {
    width: 100%;
    height: 3rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .lastUpdate {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }
  .question-container {
    margin: 5px 0;
  }
  .answer-container {
    margin: 5px 0;
  }
  .comment {
    margin: 18px 0 7px 0;
  }
  .comment-btn {
    margin: 0;
  }
  form {
    margin: 18px 0 7px 0;
  }
  .question-name {
    font-size: 17px;
  }
  .add-comment {
    margin: 0;
  }
  .question-form-container {
    width: 96vw;
    padding: 0;
  }
  .question-form-container input {
    border: 1px solid black;
  }
  .question-form-container .markdown-wrapper {
    padding: 0;
  }
  .question-form-container .markdown-wrapper .html-markdown-view img {
    width: 100%;
    margin-left: 0px;
  }
  .question-form-container .question-form-submit {
    margin-left: 3rem;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fbfbfb;
}

code {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  display: inline-block;
  padding: 3px 10px;
  margin: 4px 0px;
}

pre {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
  padding: 3px;
  border-radius: 4px;
}

pre code {
  background-color: transparent;
  border-radius: none;
  padding: 0;
}

.question-content img {
  width: 98%;
  height: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 35px;
}

.question-content h1 {
  font-size: 18px;
}
/*# sourceMappingURL=main.css.map */