@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Indie+Flower&family=Montserrat:wght@400;500;700&family=Roboto&family=Shadows+Into+Light&display=swap");
.analytics {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.analytics p {
  font-family: "Montserrat", sans-serif;
  color: #c8c7cc;
}

.question-container {
  margin-left: 10rem;
  margin-right: 9rem;
  border: 1px solid rgba(9, 18, 255, 0.53);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  margin-top: 20px;
}

.question-container div {
  width: 90%;
}

.question-container div .postedPerson {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.question-container div .postedPerson img {
  margin-top: 4px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.question-container div .postedPerson p {
  font-family: "Montserrat", sans-serif;
  color: #c8c7cc;
  font-size: 18px;
}

.question-container div .question {
  font-family: "Montserrat", sans-serif;
  color: #c8c7cc;
  font-size: 18px;
}

.question-container div .question p div h1 {
  color: rgba(9, 18, 255, 0.53);
  font-size: 1.6rem;
}

.question-container div .question p div img {
  width: 100%;
  height: 17rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.question-container div .question p div strong {
  color: #ddb1ff;
}

.question-container div .question p div em {
  color: #ced0ff;
}

.answer-container {
  margin-left: 10rem;
  position: relative;
  margin-right: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  border: 1px solid rgba(9, 18, 255, 0.53);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.answer-container div {
  width: 90%;
}

.answer-container div .postedPerson {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.answer-container div .postedPerson img {
  margin-top: 4px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.answer-container div .postedPerson p {
  font-family: "Montserrat", sans-serif;
  color: #c8c7cc;
  font-size: 18px;
}

.answer-container div .answer {
  font-family: "Montserrat", sans-serif;
  color: #c8c7cc;
  font-size: 18px;
}

.btn {
  background-color: #ddb1ff;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  color: #c8c7cc;
  font-size: 18px;
  cursor: pointer;
}

.comment-btn {
  width: 5rem;
  height: 2.3rem;
  position: absolute;
  top: 100%;
  left: 100%;
  padding-top: 4px;
  background-color: transparent;
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
  font-size: 1.7rem;
  color: #b8ffff;
}

.user-btn {
  width: 8rem;
  height: 1.6rem;
  background-color: transparent;
}

.ask-question {
  background-color: rgba(9, 18, 255, 0.53);
  -webkit-box-shadow: 6px 6px 20px rgba(9, 18, 255, 0.53);
          box-shadow: 6px 6px 20px rgba(9, 18, 255, 0.53);
  width: 8rem;
  color: white;
  height: 1.9rem;
}

.question-form-submit {
  width: 18rem;
  height: 2.5rem;
  margin-left: 13rem;
  margin-top: 1rem;
  font-family: "Fira Code", sans-serif;
  color: #c8c7cc;
  letter-spacing: 1px;
  background-color: rgba(9, 18, 255, 0.53);
  -webkit-box-shadow: 1px 1px 6px rgba(9, 18, 255, 0.53);
          box-shadow: 1px 1px 6px rgba(9, 18, 255, 0.53);
}

.markdown-menu-btn {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  width: 5rem;
  margin-left: 5px;
  border-radius: 0;
  font-family: "Fira Code", sans-serif;
  background-color: white;
  border-left: 1px solid #c8c7cc;
  border-right: 1px solid #c8c7cc;
  border-top: 1px solid #c8c7cc;
  position: relative;
}

.markdown-menu-btn::after {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: white;
  top: 24px;
  left: 0;
}

.markdown-menu-btn.active {
  background-color: rgba(0, 0, 0, 0.09);
  color: #c8c7cc;
}

.markdown-menu-btn.active::after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: transparent;
  top: 24px;
  left: 0;
}

.logout-btn {
  width: 7rem;
  padding: 3px 0;
  font-family: "Roboto", sans-serif;
  background-color: #fc7a7a;
  color: white;
  border: 1px solid red;
}

.change-credential-btn {
  margin-left: 1.1rem;
  margin-top: 1rem;
}

.answer-form-submit {
  margin-top: 8rem;
}

.like-btn {
  width: 5rem;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 0;
}

.subject-sitemap-btn {
  background-color: transparent;
  color: #c8c7cc;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.comment {
  margin: 18px 9rem 7px 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 4px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.01px solid rgba(0, 0, 0, 0.093);
}

.comment p {
  font-family: "Montserrat", sans-serif;
  color: #c8c7cc;
  font-size: 18px;
}

.add-comment {
  border: none;
  margin: 18px 9rem 7px 10rem;
  position: relative;
}

.add-comment textarea {
  outline: none;
  border: none;
  resize: none;
  width: 100%;
  border-bottom: 1px solid #c8c7cc;
  font-family: "Montserrat", sans-serif;
  color: #c8c7cc;
  font-size: 18px;
  background-color: transparent;
}

.register-form {
  width: 20rem;
  height: 30rem;
  padding-left: 3rem;
  padding-top: 1rem;
  background-color: #0e1127;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 20px #0e1127;
          box-shadow: 1px 1px 20px #0e1127;
}

.register-form h2 {
  font-family: "Montserrat", sans-serif;
  color: #c8c7cc;
  margin-bottom: 16px;
}

.register-form .input-error-show {
  color: #f84f4f;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  margin-top: -4px;
}

.register-form .form-input-container label {
  font-family: "Montserrat", sans-serif;
  color: #c8c7cc;
  font-size: 18px;
  display: block;
}

.register-form .form-input-container input {
  margin-top: 0px;
  margin-bottom: 5px;
  height: 1.9rem;
  width: 13rem;
  padding-left: 7px;
  font-family: "Montserrat", sans-serif;
  color: #c8c7cc;
  font-size: 18px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #ced0ff;
  outline: none;
}

.register-form .form-input-container .user-gender-container label {
  display: inline;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Roboto", sans-serif;
}

.register-form .form-input-container .user-gender-container .user-gender {
  width: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 9px;
  margin-left: 19px;
  gap: 30px;
}

.register-form .form-input-container .user-gender-container .user-gender input {
  width: 1rem;
  height: 1rem;
}

.register-form .form-input-container .submit-btn {
  background-color: rgba(9, 18, 255, 0.53);
  border: none;
  width: 10rem;
  margin: 25px 0 0 25px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  color: #c8c7cc;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 6px rgba(9, 18, 255, 0.53);
          box-shadow: 1px 1px 6px rgba(9, 18, 255, 0.53);
}

.login-form {
  height: 18rem;
}

.navbar {
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar img {
  margin-left: 1px;
  height: 2rem;
  width: 2rem;
}

.question-form-container {
  width: 50rem;
  height: 28rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #0e1127;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 6px #ced0ff;
          box-shadow: 1px 1px 6px #ced0ff;
  padding: 20px 10px 0 40px;
}

.question-form-container label {
  font-family: "Montserrat", sans-serif;
  color: #c8c7cc;
  font-size: 18px;
}

.question-form-container input {
  display: block;
  width: 100%;
  height: 1.9rem;
  font-family: "Fira Code", sans-serif;
  color: #c8c7cc;
  font-size: 18px;
  background-color: #0e1127;
  border: 1px solid white;
  outline: none;
  padding-left: 8px;
}

.question-form-container .markdown-wrapper {
  height: 14rem;
  padding-top: 5px;
}

.question-form-container .markdown-wrapper .markdown-menu {
  border-bottom: 1px solid #c8c7cc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.question-form-container .markdown-wrapper .markdown-editor {
  outline: none;
  display: block;
  resize: none;
  width: 100%;
  height: 12rem;
  font-family: "Fira Code", sans-serif;
  color: #c8c7cc;
  font-size: 18px;
  padding-left: 8px;
  padding-top: 8px;
  border: 0;
  border-left: 1px solid #c8c7cc;
  border-bottom: 1px solid #c8c7cc;
  border-right: 1px solid #c8c7cc;
  background-color: #0e1127;
}

.question-form-container .markdown-wrapper .html-markdown-view {
  display: none;
  width: 100%;
  height: 12rem;
  font-family: "Fira Code", sans-serif;
  color: #c8c7cc;
  font-size: 18px;
  padding: 8px 8px 0 8px;
  border: 0;
  border-left: 1px solid #c8c7cc;
  border-bottom: 1px solid #c8c7cc;
  border-right: 1px solid #c8c7cc;
  overflow: auto;
}

.answer-form {
  position: relative;
  top: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.answer-form .markdown-wrapper .markdown-editor {
  height: 18rem;
}

.answer-form .markdown-wrapper .html-markdown-view {
  height: 18rem;
}

.question-link-wrapper {
  width: 60vw;
  height: 85vh;
  position: absolute;
  padding-left: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-left: 1px solid rgba(0, 0, 0, 0.09);
  border-right: 1px solid rgba(0, 0, 0, 0.09);
}

.question-link-container .posted-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.question-link-container .posted-user img {
  margin-top: 4px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 4px;
}

.question-link-container .posted-user p {
  font-family: "Montserrat", sans-serif;
  color: #c8c7cc;
  font-size: 18px;
}

.question-link-container .question-details {
  overflow-y: hidden;
  height: 7rem;
  position: relative;
}

.question-link-container .question-details a {
  text-decoration: none;
}

.question-link-container .question-details a .question-name {
  font-family: "Montserrat", sans-serif;
  color: #c8c7cc;
  margin-left: 29px;
}

.question-link-container .question-details .question-content {
  font-family: "Montserrat", sans-serif;
  color: #c8c7cc;
  font-size: 15px;
  margin-left: 29px;
}

.question-link-container .question-details .tags {
  margin-top: 10px;
  position: absolute;
  bottom: 8px;
}

.question-link-container .question-details .tags button {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 7px;
  background-color: #b8ffff;
  border: none;
  padding: 4px 10px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 6px #ced0ff;
          box-shadow: 1px 1px 6px #ced0ff;
}

.question-link-container .bottom-line {
  margin-top: 14px;
  margin-left: 18px;
  width: 90%;
  height: 0.5px;
  background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 480px) {
  body {
    padding: 0 10px;
  }
  .analytics {
    width: 100%;
    height: 3rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .lastUpdate {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }
  .question-container {
    margin: 5px 0;
  }
  .answer-container {
    margin: 5px 0;
  }
  .comment {
    margin: 18px 0 7px 0;
  }
  .comment-btn {
    margin: 0;
  }
  form {
    margin: 18px 0 7px 0;
  }
  .question-name {
    font-size: 17px;
  }
  .add-comment {
    margin: 0;
  }
  .question-form-container {
    width: 96vw;
    padding: 0;
  }
  .question-form-container input {
    border: 1px solid black;
  }
  .question-form-container .markdown-wrapper {
    padding: 0;
  }
  .question-form-container .markdown-wrapper .html-markdown-view img {
    width: 100%;
    margin-left: 0px;
  }
  .question-form-container .question-form-submit {
    margin-left: 3rem;
  }
}

.user-profile-btn {
  position: absolute;
  right: 10px;
  width: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #efefef;
  border: 0.2px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 6px 6px 20px #e2e1e1;
          box-shadow: 6px 6px 20px #e2e1e1;
  padding: 2px 0;
  cursor: pointer;
}

.user-profile-btn img {
  border-radius: 50%;
}

.user-profile-btn P {
  color: #c8c7cc;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

.user-profile-menu-wrapper {
  position: absolute;
  top: 4.5rem;
  right: 20px;
  width: 14rem;
  height: 20rem;
  background-color: white;
  padding: 30px 0 30px 10px;
  border-radius: 10px;
  -webkit-transform: translateX(18rem);
          transform: translateX(18rem);
  -webkit-box-shadow: 6px 6px 20px #ced0ff;
          box-shadow: 6px 6px 20px #ced0ff;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-profile-menu-wrapper .view-profile-page {
  color: rgba(0, 0, 0, 0.7);
  width: 10rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  background-color: #e2e1e1;
  -webkit-box-shadow: 6px 6px 20px #e2e1e1;
          box-shadow: 6px 6px 20px #e2e1e1;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px 9px;
}

.user-profile-menu-wrapper-active {
  -webkit-transform: translate(1rem);
          transform: translate(1rem);
}

.user-content-and-user-side-bar-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-content-and-user-side-bar-menu-container .side-bar-user-menu {
  width: 15rem;
  height: 87vh;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
}

.user-content-and-user-side-bar-menu-container .side-bar-user-menu a {
  font-family: "Roboto", sans-serif;
  color: #c8c7cc;
  text-decoration: none;
  width: 87%;
  margin-left: 1rem;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-content-and-user-side-bar-menu-container .content-display-wrapper {
  width: 50rem;
  height: 87vh;
  overflow-y: auto;
}

.subject-sitemap-container {
  border-right: 1px solid rgba(9, 18, 255, 0.53);
  width: 14rem;
  padding-left: 1rem;
}

.subject-sitemap-container .subject-sitemap-content {
  display: none;
  padding-left: 20px;
}

.subject-sitemap-container .subject-sitemap-content a {
  color: #c8c7cc;
  display: block;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.subject-sitemap-container .show {
  display: block;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #080a17;
  overflow-x: hidden;
  line-height: 30px;
}

h1 {
  font-size: 20px;
  color: #c8c7cc;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 18px;
  color: #c8c7cc;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-size: 17px;
  color: #c8c7cc;
  font-family: "Montserrat", sans-serif;
}

h4 {
  font-size: 16px;
  color: #c8c7cc;
  font-family: "Montserrat", sans-serif;
}

h5 {
  font-size: 15px;
  color: #c8c7cc;
  font-family: "Montserrat", sans-serif;
}

h6 {
  font-size: 14px;
  color: #c8c7cc;
  font-family: "Montserrat", sans-serif;
}

a img {
  width: 11rem;
  height: 1.4rem;
}

p {
  font-family: "Roboto", sans-serif;
  color: #c8c7cc;
  font-size: 18px;
}

ul li {
  margin-left: 30px;
  font-size: 16px;
  color: #c8c7cc;
  font-family: "Montserrat", sans-serif;
}

blockquote {
  margin-left: 10px;
  border-left: 10px solid rgba(9, 18, 255, 0.53);
  width: 20rem;
  padding-left: 3px;
  font-family: 'Shadows Into Light', cursive;
  margin-top: 5px;
  margin-left: 4rem;
  margin-bottom: 10px;
  background-color: #0e1127;
}

blockquote p {
  font-size: 20px;
  font-family: 'Shadows Into Light', cursive;
}

img {
  width: 18rem;
  height: 18rem;
}

.question-content img {
  width: 98%;
  height: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 35px;
}

.question-content h1 {
  font-size: 18px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid white;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

th {
  text-align: center !important;
}

td {
  text-align: center !important;
}

.markdown-container {
  width: 50rem;
  margin-left: 2rem;
}

.subject-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */