.answer-container {
  background-color: white;
  margin-left: 10rem;
  margin-right: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  div {
    width: 90%;
    .postedPerson {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      img {
        margin-top: 4px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 10px;
      }
      p {
        font-family: $font;
        color: $normalColor;
        font-size: $normalSize;
      }
    }
    .answer {
      font-family: $font;
      color: $normalColor;
      font-size: $normalSize;
    }
  }
}
